<acl>
    <page-api-extensions>
        <name>System: API extensions</name>
        <patterns>
            <pattern>api/api_extensions/*</pattern>
        </patterns>
    </page-api-extensions>
    <page-system-api-extensions-interface-policy>
        <name>System: High Availability interface sync policies</name>
        <patterns>
            <pattern>ui/api_extensions/interface_policy*</pattern>
            <pattern>api/api_extensions/interface_policy/*</pattern>
            <pattern>api/api_extensions/haproxy_policy/*</pattern>
            <pattern>api/api_extensions/interface_sync/*</pattern>
        </patterns>
    </page-system-api-extensions-interface-policy>
    <page-services-api-extensions-carp-health>
        <name>Services: CARP health monitoring</name>
        <patterns>
            <pattern>ui/api_extensions/carp_health*</pattern>
            <pattern>api/api_extensions/carp_health/*</pattern>
        </patterns>
    </page-services-api-extensions-carp-health>
</acl>
